body{
	font-family:"Mulish", "Noto Sans KR";
	background-color:#F8FFFF;
	color:#001428;
	margin:0;
    padding:0;
}
.container{
    padding:30px;
}
a{
	text-decoration:none;
}
img{
    border-radius:20%; !important
    filter:drop-shadow(5px 5px 20px 0px #30303080);
}
