body{
	font-family:"Mulish", "Noto Sans KR";
	background-color:#F8FFFF;
	color:#001428;
	margin:0;
    padding:0;
}
.container{
    padding:30px;
}
a{
	text-decoration:none;
}
.quote{
	max-width:80%;
	background-color:#F8FCFF;
	border-left:5px solid #0064C8;
	border-bottom:1px solid #D9DDDF;
	border-right:1px solid #D9DDDF;
	border-top:1px solid #D9DDDF;
	box-sizing:border-box;
	padding:10px 15px;
}
.quote::before{
	content: "\201C";
	color:#78C0A8;
	font-size:4em;
	position:absolute;
	left:10px;
	top:-10px;
}